/*
    file: content.css
    author: Victor Miguel
    brief: Organiza como vai ser o visual do conteúdo.
    date: 24-4-2022
*/

.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    position: relative;

    top: 175px;
    left: 40px;

    border: 2px solid;
    width: 1200px;
}
#ctitle {
    font-size: 35px;
}
#ctext {
    font-size: 25px;
}
